MSAToolBoxClient/Service References/RegServiceReference/service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RegService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="MSAPort_Registration_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/MSAToolBoxServices" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRegService_TryRegister_InputMessage">
    <wsdl:part name="parameters" element="tns:TryRegister" />
  </wsdl:message>
  <wsdl:message name="IRegService_TryRegister_OutputMessage">
    <wsdl:part name="parameters" element="tns:TryRegisterResponse" />
  </wsdl:message>
  <wsdl:message name="IRegService_TryChangePw_InputMessage">
    <wsdl:part name="parameters" element="tns:TryChangePw" />
  </wsdl:message>
  <wsdl:message name="IRegService_TryChangePw_OutputMessage">
    <wsdl:part name="parameters" element="tns:TryChangePwResponse" />
  </wsdl:message>
  <wsdl:portType name="IRegService">
    <wsdl:operation name="TryRegister">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegService/TryRegister" message="tns:IRegService_TryRegister_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRegService/TryRegisterResponse" message="tns:IRegService_TryRegister_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TryChangePw">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegService/TryChangePw" message="tns:IRegService_TryChangePw_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRegService/TryChangePwResponse" message="tns:IRegService_TryChangePw_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MSAPort_Registration" type="tns:IRegService">
    <wsp:PolicyReference URI="#MSAPort_Registration_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="TryRegister">
      <soap12:operation soapAction="http://tempuri.org/IRegService/TryRegister" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TryChangePw">
      <soap12:operation soapAction="http://tempuri.org/IRegService/TryChangePw" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RegService">
    <wsdl:port name="MSAPort_Registration" binding="tns:MSAPort_Registration">
      <soap12:address location="net.tcp://42.121.105.245:5779/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://42.121.105.245:5779/</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>AY121018123936Z\MSA</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>