MSAToolBoxClient/Service References/RegServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/MSAToolBoxServices" />
  <xs:element name="TryRegister">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="data" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TryRegisterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MSAToolBoxServices" minOccurs="0" name="TryRegisterResult" type="q1:RegResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TryChangePw">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="data" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TryChangePwResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MSAToolBoxServices" minOccurs="0" name="TryChangePwResult" type="q2:ChangePwResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>