MSAToolBoxClient/Service References/UpdateServiceReference/LegacyUpdateServices.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LegacyUpdateServices" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LegacyUpdateServices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfUpdateInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UpdateInfo" nillable="true" type="tns:UpdateInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUpdateInfo" nillable="true" type="tns:ArrayOfUpdateInfo" />
  <xs:complexType name="UpdateInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Build" type="xs:int" />
      <xs:element minOccurs="0" name="Content" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Version" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UpdateInfo" nillable="true" type="tns:UpdateInfo" />
  <xs:complexType name="ArrayOfUpdatePatchFileInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UpdatePatchFileInfo" nillable="true" type="tns:UpdatePatchFileInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUpdatePatchFileInfo" nillable="true" type="tns:ArrayOfUpdatePatchFileInfo" />
  <xs:complexType name="UpdatePatchFileInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Build" type="xs:int" />
      <xs:element minOccurs="0" name="FileLength" type="xs:long" />
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FilePath" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UpdatePatchFileInfo" nillable="true" type="tns:UpdatePatchFileInfo" />
</xs:schema>