MSAToolBoxClient/Service References/UpdateServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/LegacyUpdateServices" />
  <xs:import namespace="http://schemas.microsoft.com/Message" />
  <xs:element name="GetUpdateInfo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUpdateInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/LegacyUpdateServices" minOccurs="0" name="GetUpdateInfoResult" nillable="true" type="q1:ArrayOfUpdateInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLatestPatchFiles">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLatestPatchFilesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/LegacyUpdateServices" minOccurs="0" name="GetLatestPatchFilesResult" nillable="true" type="q2:ArrayOfUpdatePatchFileInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/LegacyUpdateServices" minOccurs="0" name="fileInfo" nillable="true" type="q3:UpdatePatchFileInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DownloadFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/Message" name="DownloadFileResult" type="q4:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>